
  @import url('pygments.css');

  /*  =Reset
  ======================================================================= */

  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
  }
  table {
    border-collapse:collapse;
    border-spacing:0;
  }
  fieldset,img {
    border:0;
  }
  address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
  }
  ol,ul {
    list-style:none;
  }
  caption,th {
    text-align:left;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
  }
  q:before,q:after {
    content:'';
  }
  abbr,acronym { border:0; }

  /*  =Global styles
  ======================================================================= */

  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  body {
    font-family: 'elena-web-basic', Georgia, "Times New Roman", serif;
    font-size: 18px;
    background-color: #fff;
    border-top: 6px #333 solid;
    line-height: 1.7em;
    color: #333;
  }

  strong {
    font-weight: bold;
  }

  a {
    color: #dc2329;
    text-decoration: none;

    -webkit-transition: color .2s linear .1s;
    transition: color .2s linear .1s;
  }

  a:hover{
    color: maroon;
  }

  hr{
    margin: 15px 0;
    height: 1px;
    padding: none;
    background: #ddd;
    border: none;
  }

  p {
    margin-bottom: 1.4em;
  }

  /*  =Layout
  ======================================================================= */

  div.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    xbackground: url(/images/grid.gif) 0 50% repeat-y;
  }

  header {
    margin: 10px;
  }

  header h1 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }

  header h1 span {
    color: #999;
  }

  header p {
    font-size: 0.8em;
    width: 700px;
    margin: 0 auto;
  }

  section.main {
    padding-bottom: 200px;
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
  }


  footer p {
    font-size: 14px;
    line-height: 1.7em;
    clear: both;
    border-top: 1px #ddd solid;
    color: #a1a1a1;
    padding: 1.7em 0;
    text-align: center;
  }

  footer em {
    font-weight: bold;
  }

  /*  =Post
  ======================================================================= */

  article.post {
    margin-top: 50px;
  }

  .post h1,
  .post h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-family: "Helvetica Neue";
  }

  .post h2 a {
    color: #333;
    text-decoration: none;

    -webkit-transition: color .2s linear .1s;
    transition: color .2s linear .1s;
  }

  .post h2 a:hover {
    color: maroon;
  }

  .post h3 {
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .post .date {
    font-size: 0.7em;
    margin-bottom: 0;
    color: #666;
    text-align: right;
    font-style: italic;
  }

  .post p {

  }

  div.post-body {

  }

  .post-body h3 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  /* Footnotes */
  .post-body .footnotes {

  }


  .footnotes ol {
    list-style-type: decimal;
    font-size: 14px;
    margin-left: 40px;
    line-height: 1.7em;
  }

  .post-body .footnotes p {
    font-weight: normal;
    width: auto;
    margin-top: 10px;
    display: inline;
  }

  .footnotes a[rev=footnote]:before {
    content: ' ';
  }
