<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="shortcut icon" href="images/favicons/favicon.ico" /> -->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mootools/1.4.5/mootools-core-full-nocompat-yc.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mootools-more/1.4.0.1/mootools-more-yui-compressed.js"></script>

    {% css_asset_tag global %}
    - /_assets/scss/reset.scss
    - /_assets/scss/pygments.scss
    - /_assets/scss/screen.scss
    - /_assets/scss/blog.scss
    {% endcss_asset_tag %}

    {% javascript_asset_tag global %}
    - /_assets/coffeescript/moofx.js
    - /_assets/coffeescript/utilities.coffee
    - /_assets/coffeescript/base.coffee
    {% endjavascript_asset_tag %}

    <link rel="alternate" href="http://nouincolor.com/feed/" type="application/rss+xml" />

    <meta name="twitter:creator" content="@oskar" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% endif %}" />

    <meta property="og:site_name" content="Nouincolor" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% endif %}" />
    <meta property="og:type" content="blog post" />

    <title>
      {% if page.title %}
        {{ page.title }} &mdash; Oskar Krawczyk of Nouincolor
      {% else %}
        Oskar Krawczyk of Nouincolor
      {% endif %}
    </title>
  </head>
  <body>

    <div id="sidebar">
      <ul class="posts">
        {% for post in site.posts %}
          <li class="">
            <a class="momentBody" href="{{ post.url | replace: '.html', '' }}">
              <h3>{{ post.title }}</h3>
              <!-- <p>{{ post.summary }}</p> -->
              <strong class="date">{{ post.date | date: "%e %B %Y" }}</strong>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div id="blog">
      <a href="/" id="show-sidebar" class="hideBlog">&equiv;</a>
      <div class="blogInfo">
        <div class="me"></div>
      </div> <!-- /blogInfo -->
      <div id="posts">
        {{ content }}
      </div> <!-- /posts -->
    </div> <!-- /blog -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-165199-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
