<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="shortcut icon" href="images/favicons/favicon.ico" /> -->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mootools/1.4.5/mootools-core-full-nocompat-yc.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mootools-more/1.4.0.1/mootools-more-yui-compressed.js"></script>

    {% css_asset_tag global %}
    - /_assets/scss/reset.scss
    - /_assets/scss/pygments.scss
    - /_assets/scss/screen.scss
    {% endcss_asset_tag %}

    {% javascript_asset_tag global %}
    - /_assets/coffeescript/moofx.js
    - /_assets/coffeescript/utilities.coffee
    - /_assets/coffeescript/base.coffee
    {% endjavascript_asset_tag %}

    <link rel="alternate" href="http://theblog.org/feed" type="application/rss+xml" />

    <title>
      {% if page.title %}
        {{ page.title }} &mdash; Oskar Krawczyk of Nouincolor
      {% else %}
        Oskar Krawczyk of Nouincolor
      {% endif %}
    </title>
  </head>
  <body>
    <div id="body-wrapper">
      <div id="intro">
        <h1>Oskar Krawczyk</h1>
        <h2><small>of</small> Nouincolor</h2>
        <div class="info">
          <p>
            Co-created <a title="JSFiddle" href="http://jsfiddle.net">JSFiddle</a> and <a title="Positionly" href="https://positionly.com">Positionly</a><br />
            Loves <a title="" href="#">coffee</a>, creates <a title="" href="https://github.com/oskarkrawczyk">things</a>, <a title="" href="#timeline">blogs</a> and <a title="" href="https://twitter.com/oskar">tweets</a><br />
            Cycles all around <a title="Warsaw" href="http://en.wikipedia.org/wiki/Warsaw">Warsaw</a> in his free time
          </p>
        </div> <!-- /info -->
      </div> <!-- /intro -->
      {{ content }}
    </div> <!-- /body-wrapper -->

  </body>
</html>
