@import 'mixins';
@import 'media-queries';
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,400,600);

body {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Tahoma, sans-serif;
  background: #aaaaaa;
  position: relative;
  color: #3f3f3f;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

  #sidebar .posts a {
    color: #3f3f3f;
    display: block;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.06);
    font-size: .9em;

    &:hover {
      border-bottom: solid 1px rgba(0, 0, 0, 0.06);
      color: $mixed;
    }
  }

  #sidebar .posts h3 {
    font-weight: 400;
  }

  #sidebar .posts p {
    font-size: .9em;
  }

  #sidebar .posts .date {
    font-size: .7em;
    font-weight: 200;
    color: #7f7f7f;
  }

  #sidebar .posts .selected h3 {
    font-weight: 600;
  }

#blog {
  background: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.55);
}

#blog a {
  color: $mixed;
}

  #blog .me {
    height: 120px;
    width: 120px;
    border: none;
    background: #fff url(/images/me.jpg);

    @include hdpi(2) {
      background: #fff url(/images/me@2x.jpg);
      background-size: 120px;
    }
  }

  #blog .blogInfo {
    width: 580px;
    margin: 40px auto 0;
    text-align: center;
    font-family: $raleway;
  }

  #blog .blogInfo h1 {
    margin: 20px 0 10px;
    font-size: 2.5em;
    font-weight: 300;
  }

  #blog .hideBlog {
    position: absolute;
    top: 10px;
    left: 10px;
    background: $mixedLighter; // $mixedLighter
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-family: $raleway;
    text-transform: uppercase;
    font-size: 1.2em;
    border-radius: 2px;
  }

#posts {
  width: 500px;
  margin: 40px auto;
  font-size: 1.02em;
}

  #posts .postBody p {
    line-height: 1.65em;
  }

  #posts .post h1 {
    margin: 20px 0 40px;
    font-size: 2.7em;
    font-weight: 300;
    text-align: center;
    font-family: $raleway;
  }

  #posts .post a:hover {
    border-bottom: solid 1px $mixed;
  }

  #posts .postBody ul,
  #posts .postBody ol {
    margin: 15px 0;
  }

  #posts .postBody p {
    margin: 15px 0;
  }

  #posts .postBody li {
    line-height: 1.5em;
    margin: 5px 0 5px 50px;
    list-style: disc;
  }

  #posts .postBody ul li {
    list-style: disc;
  }

  #posts .postBody ol li {
    list-style: decimal-leading-zero;
  }

  #posts .postBody code {
    font-size: .7em;
    font-family: Monaco, monospace;
    background: #3f3f3f;
    color: #fff;
    padding: 2px 4px;
  }

  #posts .postBody pre code {
    display: block;
    padding: 5px 8px;
  }

  #posts .postDate {
    font-family: $raleway;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 40px;
    text-align: center;
  }

